.cta {
  padding: clamp(3rem, 6vw, 5.1rem) 0 clamp(3.1rem, 5.5vw, 5rem);
  background-color: #FFFFFF;
  border-top: 1px solid var(--color-medium-grey);
  border-bottom: 1px solid var(--color-medium-grey);
  color: var(--color-dark);
}

.cta-content {
  max-width: 800px;
  margin: 0 auto;
}

.cta-text {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}
